# Basics

Expressions have values and values have data types associated with them

In [ ]:
print(100) # 100 is an expression with value 100 and data type integer
print(3.14)
print("Hello")

In [ ]:
# Operators and operands
print(100+200) # 100+200 is the expression and 300 the value
print(10/3)
print(10//3)
print(10%3)

300
3.3333333333333335
3
1

In [ ]:
# Input
n = input("Hello, Please enter your name: ")
print(f'Hello {n}')

Hello, Please enter your name: Adiyta
Hello Adiyta

# List & Strings

# Iteration

# Boolean Expressions

In [ ]:
# Boolean Expression
print(3>4)

False

In [ ]:
# Logical Operators
x = 5 
print(x>3 and x >4)

n = 25
print(n%2==0 or n%5 ==0)

z = True

print(not z)

True
True
False

In [ ]:
# in & not in operators
print('p' in 'apple')
print('i' in 'apple')

print('x' not in 'apple')
print('' in 'apple')

print('cat' in ['cat', 'dog', 'cow', 'goat'])

True
False
True
True
True

# Conditional Execution

True

# Transforming Sequences

### Important Concepts to Remember.
1. Mapping Operation.

What sequence will you iterate through as you accumulate a result?
What type of value will you accumulate?

In [ ]:
fruit = ['apple', 'pear', 'banana']
fruit

['apple', 'pear', 'banana']

In [ ]:
# Lists are mutable.
fruit[0] = 'pear'
fruit[-1] = 'orange'
fruit

['pear', 'pear', 'orange']

In [ ]:
# Use assignment to modify multiple items in a list.
list_a = ['a','b','c','d','e','f']
print(list_a)
list_a[1:3] = ['x','y']
print(list_a)

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'x', 'y', 'd', 'e', 'f']

In [ ]:
# Use assignment to delete items
list_b = ['a','b','c','d','e','f']
print(list_b)
list_b[1:3] = []
print(list_b)

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'd', 'e', 'f']

In [ ]:
# Strings are immutable

s1 = 'Machine Learning'
print(s1)

Machine Learning

In [ ]:
# Throws error, 'str' object does not support item assignment
s1[0] = 'J'

In [ ]:
s2 = 'J' + s1[1:]
print(s2)

Jachine Learning

In [ ]:
# List element deletion
list1 = ['India', 'US', 'China']
print(list1)
del list1[2]
print(list1)

['India', 'US', 'China']
['India', 'US']

In [ ]:
# Objects & References
# Python interpretor figures out that its the same string apple and makes a & b both point to the same string.
a = 'apple'
b = 'apple'

In [ ]:
# is operator checks if a and b are aliases to same objects.
print (a is b)

True

In [ ]:
l1 = [1,2,3]
l2 = [1,2,3]

In [ ]:
# Checks whether l1 and l2 are aliases for exactly the same objects
print (l1 is l2)

False

In [ ]:
# Checks whether variables l1 and l2 are bound to objects that are equivalent to each other. 
print(l1 == l2)

True

In [ ]:
# Print the id of l1.
print(id(l1))

140349208633288

In [ ]:
# Print the id of l2.
print(id(l2))

140349207501576

In [ ]:
# Its important two know when two variables are alias of the same object 
# and when they are equivalent as it can get confusing when we try to modify 
# these objects

a = [11,12,13]
b = [11,12,13]
print(a is b)

False

In [ ]:
b = a
print(a == b)
print(a is b)

True
True

In [ ]:
# Although we never made any changes to list "a" directly, but we see that it 
# has been mutated.

b[0] = -99
print(a)
print(b)

[-99, 12, 13]
[-99, 12, 13]

In [ ]:
# Cloning Lists. 
# Slice operator always grabs some part of a list and makes a new list out of 
# those grabbed parts. 

list1 = [42, 43, 44]
list2 = list1[:] # clone of list 1

print(list1 == list2)
print(list1 is list2) # both point to different objects

list2[1] = -99

# Only list 2 has been mutated
print(list1)
print(list2)

True
False
[42, 43, 44]
[42, -99, 44]

In [ ]:
### Methods on Strings and Lists
# Create an empty list 
l = []

# Append sticks an item at the end of the list. Most important.
l.append(42)
print(l)
l.append(43)
print(l)
l.append(44)
print(l) # Same list object is being mutated

[42]
[42, 43]
[42, 43, 44]

In [ ]:
# inset splices the value at a given index and shifts the existing element at 
# that index.

l.insert(1, 44)
print(l)

[42, 44, 43, 44]

In [ ]:
# count the occurrence of a particular element in a list.
l.count(44)

2

In [ ]:
# index takes in a value and returns its first position in the list. 
l.index(44)

1

In [ ]:
# Reverses a list. (Mutates)
print(l.reverse())
print(l)

None
[44, 43, 44, 42]

In [ ]:
# Sorts a list in ascending order. (Returns a value)
l.sort()
print(l)

[42, 43, 44, 44]

In [ ]:
# Takes an element and removes it from the list. (Mutates)
l.remove(44)
print(l)

[42, 43, 44]

In [ ]:
# pop removes last item in the list (Mutates and Returns)
last = l.pop()
print(l)
print(last)

[42, 43]
44

In [ ]:
# Append vs Concatenate

list1 = [45, 32, 88]
list1.append('cat')
print(list1)

[45, 32, 88, 'cat']

In [ ]:
list2 = [45, 32, 88]
list2 = list2 + ['cat']
print(list2)

[45, 32, 88, 'cat']

In [ ]:
orig_list = [0,1,2]
print('Orig list id is :{}'.format(id(orig_list)))
alias_list = orig_list
print('alias_list id is :{}'.format(id(alias_list)))
orig_list = orig_list + ['cow']
print('Orig list id is :{}'.format(id(orig_list)))
print('alias_list  id is :{}'.format(id(alias_list)))
print(orig_list)
print(alias_list)

Orig list id is :140349208527304
alias_list id is :140349208527304
Orig list id is :140349207015496
alias_list  id is :140349208527304
[0, 1, 2, 'cow']
[0, 1, 2]

In [ ]:
# Non Mutating methods on strings.
s1 = 'Machine Learning'
print(s1.lower())
print(s1.upper())

machine learning
MACHINE LEARNING

In [ ]:
# strip() removes the trailing whitespaces

In [ ]:
# replace('pattern', 'replacement')

In [ ]:
# String Format Methods
name = 'Aditya'
age = 29
print('Hello '+name+' Your age is '+ str(age))

Hello Aditya Your age is 29

In [ ]:
print('Hello {}! Your age is {}'.format(name, age))

Hello Aditya! Your age is 29

In [ ]:
orig_price = float(input('Enter the original price :'))
discount = float(input('Enter the discount percentage :'))
new_price = (1 -  discount/100) * orig_price
calculation = '${:.2f} discounted by {}% is {:.4f}'.format(orig_price, discount, new_price)
print(calculation)

Enter the original price :30.22
Enter the discount percentage :12
$30.22 discounted by 12.0% is 26.5936

In [ ]:
# Accumulator pattern with lists.
nums = [3,4,5]
accum = []
for num in nums:
  x = num**2
  accum.append(x)
print(accum)

[9, 16, 25]

In [ ]:
# Using list comprehension
nums = [3,4,5]
accum = [x**2 for x in nums]
print(accum)

[9, 16, 25]

In [ ]:
# Accumulator pattern with strings.
s = 'cat'
ac = ''
for letter in s:
  ac = ac + letter + '-' + letter + '-'

print(ac)

c-c-a-a-t-t-

In [ ]:
inv = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

In [ ]:
inv.keys()

dict_keys(['apples', 'bananas', 'oranges', 'pears'])

In [ ]:
inv.values()

dict_values([430, 312, 525, 217])

In [ ]:
inv.items()

dict_items([('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)])

In [ ]:
list(inv.keys())

['apples', 'bananas', 'oranges', 'pears']

In [ ]:
list(inv.items())

[('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)]

In [ ]:
inv.get('apples')

430

# Regular expressions

In [1]:
import re

In [ ]:
text = 'Call me at 124-234-9987 or n my another number 665-887-9754'
phone_num_regex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
mo = phone_num_regex.search(text)
mo.group() # returns the pattern.

In [ ]:
mo = phone_num_regex.findall(text) # Gives a list
mo

In [ ]:
## Matching Groups using parenthesis

phoneNumRegex = re.compile(r'(\d\d\d)-(\d\d\d-\d\d\d\d)')
mo = phoneNumRegex.search(text)
print(mo.group())
print(mo.group(1))

124-234-9987
124

In [ ]:
text1 = 'Call me at (124) 234-9987 or n my another number 665-887-9754'

In [ ]:
## Using Pipes to match one of many possible groups.

text2 = 'Batmobile just lost a wheel.'
batRegex = re.compile(r'Bat(man|mobile|copter|bat)')
mo = batRegex.search(text2)
print(mo.group())
print(f'Which pattern was found from the group: {mo.group()}')

Batmobile
Which pattern was found from the group: Batmobile

In [ ]:
## Match certain number of repetitions of the group.

## ? - Match the PRECEEDING group ZERO or ONE time
batRegex = re.compile(r'Bat(wo)?man') # Re to match Batman/Batwoman
mo = batRegex.search('The adventures of Batman')
print(mo.group())

mo = batRegex.search('The adventures of Batwoman')
print(mo.group())

mo = batRegex.search('The adventures of Batwowowoman') # wo is matched only zero or one times.
print(mo)

Batman
Batwoman
None

In [ ]:
## Match ZERO or MORE times using the asterisk(*) character.
batRegex = re.compile(r'Bat(wo)*man') # Re to match Batman/Batwoman
mo = batRegex.search('The adventures of Batman')
print(mo.group())

mo = batRegex.search('The adventures of Batwoman')
print(mo.group())

mo = batRegex.search('The adventures of Batwowowoman') # wo is matched only zero or one times.
print(mo.group())

Batman
Batwoman
Batwowowoman

In [ ]:
## Match ONE or MORE times using the + character.

batRegex = re.compile(r'Bat(wo)+man') # Re to match Batman/Batwoman
mo = batRegex.search('The adventures of Batman')
print(mo)

mo = batRegex.search('The adventures of Batwoman')
print(mo.group())

mo = batRegex.search('The adventures of Batwowowoman') # wo is matched only zero or one times.
print(mo.group())

None
Batwoman
Batwowowoman

In [ ]:
## Match specific number of repetitions using curly braces {}.

haRegex = re.compile(r'(Ha){3}')
mo = haRegex.search('He said "HaHaHa"')
print(mo.group())

HaHaHa

In [ ]:
## Match a range of possible repetitions. atleast x atmost y {x, y}

haRegex = re.compile(r'(Ha){3,5}')
mo = haRegex.search('He said "HaHaHa"')
print(mo.group())

mo = haRegex.search('He said "HaHaHaHa"')
print(mo.group())

mo = haRegex.search('He said "HaHaHaHaHa"')
print(mo.group())

HaHaHa
HaHaHaHa
HaHaHaHaHa

In [ ]:
digitRegex = re.compile(r'\d{3,5}') # Regex will match the longest possible string.
mo = digitRegex.search('1234567890')
print(mo.group())

digitRegex = re.compile(r'\d{3,5}?') # Non greedy match
mo = digitRegex.search('1234567890')
print(mo.group())

12345
123

In [ ]:
lyrics = '12 drummers drumming, 11 pipers piping, 10 lords a leaping, 9 ladies dancing, 8 maids a milking, 7 swans a swimming, 6 geese a laying, 5 gold rings, 4 calling birds, 3 french hens, 2 turtle doves and a partridge in a pear tree walk into a bar'
xmasRegex = re.compile(r'\d+\s\w+')
mo = xmasRegex.findall(lyrics)
print(mo)

['12 drummers', '11 pipers', '10 lords', '9 ladies', '8 maids', '7 swans', '6 geese', '5 gold', '4 calling', '3 french', '2 turtle']

In [ ]:
## Creating your own character classes using []

vowelRegex = re.compile(r'[aeiou]') # r'(a|e|i|o|u)'

# All lowercase letters - r'[a-z]'
# All lowercase & uppercase letters - r'[a-zA-Z]'

In [ ]:
# Use CARET(^) to match everything thats not specified.
text = 'Robocop eats baby food'

vowelRegex = re.compile(r'[aeiouAEIOU]')
print(vowelRegex.findall(text))

doubleVowelRegex = re.compile(r'[aeiouAEIOU]{2}')
print(doubleVowelRegex.findall(text))

consonantRegex = re.compile(r'[^aeiouAEIOU]')
print(consonantRegex.findall(text))

['o', 'o', 'o', 'e', 'a', 'a', 'o', 'o']
['ea', 'oo']
['R', 'b', 'c', 'p', ' ', 't', 's', ' ', 'b', 'b', 'y', ' ', 'f', 'd']

In [ ]:
# Use caret (^) to match patterns at the beginning of the string.

In [ ]:
# Use dollar ($) to match patterns at the beginning of the string.

In [ ]:
# Use . to match any character except the newline.
text = 'The cat in the hat sat on the flat mat.'
atRegex = re.compile(r'.at')
print(atRegex.findall(text))

text = 'The cat in the hat sat on the flat mat.'
atRegex = re.compile(r'.{1,2}at')
print(atRegex.findall(text))

['cat', 'hat', 'sat', 'lat', 'mat']
[' cat', ' hat', ' sat', 'flat', ' mat']

In [ ]:
serve = '<To serve humans> for dinner.>'
nongreedy = re.compile(r'<(.*)>')
print(nongreedy.findall(serve))

['To serve humans> for dinner.']

In [ ]:
serve = '<To serve humans> for dinner.>'
nongreedy = re.compile(r'<(.*?)>')
print(nongreedy.findall(serve))

['To serve humans']

In [ ]:
text = 'My name is Aditya Bhatt. \nI am a Data Analyst at Google. \nI work with the Trust and Safety team at Google'
print(text)

My name is Aditya Bhatt.
I am a Data Analyst at Google.
I work with the Trust and Safety team at Google

In [ ]:
dotStar = re.compile(r'.*')
mo = dotStar.search(text)
print(mo.group())

My name is Aditya Bhatt.

In [ ]:
dotStar = re.compile(r'.*', re.DOTALL)
mo = dotStar.search(text)
print(mo.group())

My name is Aditya Bhatt.
I am a Data Analyst at Google.
I work with the Trust and Safety team at Google

In [ ]:
vowelRegex = re.compile(r'[aeiou]')
mo = vowelRegex.findall(text)
print(mo)

['a', 'e', 'i', 'i', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'o', 'o', 'e', 'o', 'i', 'e', 'u', 'a', 'a', 'e', 'e', 'a', 'a', 'o', 'o', 'e']

In [ ]:
vowelRegex = re.compile(r'[aeiou]', re.IGNORECASE)
mo = vowelRegex.findall(text)
print(mo)

['a', 'e', 'i', 'A', 'i', 'a', 'a', 'I', 'a', 'a', 'a', 'a', 'A', 'a', 'a', 'o', 'o', 'e', 'I', 'o', 'i', 'e', 'u', 'a', 'a', 'e', 'e', 'a', 'a', 'o', 'o', 'e']

In [ ]:
# Using sub() method to find and substitute.

In [36]:
# Assignment questions
text = 'I am xyz in x y z from xy and xxyz and xxxxxxxxyz'

In [45]:
import re
regex = re.compile(r'[xyz^]')
mo = re.findall(regex, text)
print(mo)

['x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'x', 'x', 'y', 'z', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'y', 'z']

In [1]:
text = 'i am aditya'
text.upper()

'I AM ADITYA'

# NLTK

In [18]:
import nltk

In [19]:
nltk.download('udhr')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package udhr to /root/nltk_data...
[nltk_data]   Package udhr is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
porter = nltk.PorterStemmer()

In [10]:
udhr = nltk.corpus.udhr.words('English-Latin1')

In [11]:
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [12]:
[porter.stem(t) for t in udhr[:20]]

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

In [14]:
wnl = nltk.WordNetLemmatizer()
[wnl.lemmatize(w) for w in udhr[:20]]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

In [15]:
text = 'Children shouldn\'t drink a sugary drink before bed.'

In [16]:
text.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

In [20]:
nltk.word_tokenize(text)

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [21]:
text2 = 'My name is Aditya Bhatt. I am a Data Analyst with Google. I work with Trust & Safety at Google.'

In [22]:
nltk.sent_tokenize(text2)

['My name is Aditya Bhatt.',
 'I am a Data Analyst with Google.',
 'I work with Trust & Safety at Google.']

In [ ]:
# POS tagging.

In [ ]:
# Parsing sentence structure.

text15 = nltk.word_tokenize('Alice loves Bob.')
grammar = nltk.CFG.fromstring("""
S -> NP VP
VP -> V NP
NP -> "Alice" | "Bob"
V -> 'loves'
""" )
parser = nltk.ChartParser(grammar)